/*************************** DESKTOP *********************************/
/*********************************************************************/
@media screen and (min-width: 1024px) {
    body {
        font-family: 'MyriadProRegular', arial,sans-serif;
        font-size:16pt;
        font-weight:normal;
    /*    overflow: hidden;*/
        overflow-x: auto;
        overflow-y: scroll;
    }
    a {
        text-decoration: none;
        color: #000000;
    }

    ul{
        color: #000000;
        text-decoration: none;
        list-style: none;
        padding-left: 0px;
        margin: 0px;
    }

    .links, .links:link, .links:visited{
        color: #000000;
        text-decoration: none;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        border-bottom: 1px black dotted;
    }

    .links:hover{
        background-color: rgba(255,255,0,0.5);
    }

    .highlight_font, .highlight_font:link, .highlight_font.visited {
        font-family: 'MyriadProRegular', arial,sans-serif;
        font-size: 100%;
        font-weight: 800;
        text-align:left;
        color: #000000;
        text-decoration: none;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        background: url("../images/block.png") no-repeat left transparent;
        padding-left: 20px;
    }

    .title{
        font-family: 'MyriadProRegular', arial,sans-serif;
        font-size: 120%;
        color: #ffffff;
        background-color: #000000;
    }

    /*************************** DIV CSS *********************************/
    #page {
        position: fixed;
        top: 0px;
        bottom: 100px;
        width: 1000px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
        #side {
            position: absolute;
            top: 50px;
            bottom: 0px;
            left: 0px;
            width: 250px;
            height: 100%;
            text-align: left;
            margin-right: 20px; 
        }
            #myphoto {
                margin-bottom: 10px;
            }
            #title {
                font-size: 120%;
                margin-bottom: 10px;
            }
            #info {
                font-size: 80%;
                margin-bottom: 10px;
            }
            #menu {
                font-size: 120%;
                margin-bottom: 10px;
            }
            #footnote{
                position: fixed;
                bottom:50px;
                font-size: 90%;
            }
        #content_wrap{
            position: absolute;
    /*        overflow: hidden;*/
            top: 50px;
            left: 270px;
            width: 730px;
            height: 100%;
            text-align: left;
        }
        #content{
            height: 99%;
            width: 100%;
    /*        overflow: auto;*/
        }
            #announcement{
                top: 0px;
                width: 100%;
                z-index: 99;
                border-top: thick solid #ffaaaa;
                border-bottom: thick solid #ffaaaa;
                margin-bottom: 50px;
                font-size: 80%;
            }
            #me {
                width: 100%;
                margin-bottom: 50px;
                font-size: 80%;
                font-family: 'MyriadProRegular', arial,sans-serif;
            }
            #mywork{

            }
                #section{
                    font-size: 80%;
                    padding-bottom: 5px;
                    border-top: 2px solid black;
                    border-bottom: 2px solid black;
                    margin-bottom: 50px;
                    -webkit-transition: background-color 0.5s ease;
                    -moz-transition: background-color 0.5s ease;
                }
                #section:hover{
                    background-color: rgba(255,255,0,0.2);
                }



    /*************************** PUBLICATION CSS *********************************/
            #publication {
                font-size: 80%;
            }

    /*************************** TEACHING CSS *********************************/
            #statement {
                font-size: 80%;
            }
}


/*************************** MOBILE *********************************/
/********************************************************************/
@media screen and (max-width: 1023px) {
    body {
        font-family: 'MyriadProRegular', arial,sans-serif;
        font-size:12pt;
        font-weight:normal;
    /*    overflow: hidden;*/
        overflow-x: auto;
        overflow-y: scroll;
    }
    a {
        text-decoration: none;
        color: #000000;
    }

    ul{
        color: #000000;
        text-decoration: none;
        list-style: none;
        padding-left: 0px;
        margin: 0px;
    }

    .links, .links:link, .links:visited{
        color: #000000;
        text-decoration: none;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        border-bottom: 1px black dotted;
    }

    .links:hover{
        background-color: rgba(255,255,0,0.5);
    }

    .highlight_font, .highlight_font:link, .highlight_font.visited {
        font-family: 'MyriadProRegular', arial,sans-serif;
        font-size: 100%;
        font-weight: 800;
        text-align:left;
        color: #000000;
        text-decoration: none;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        background: url("../images/block.png") no-repeat left transparent;
        background-size: 10px;
        padding-left: 15px;
    }

    .title{
        font-family: 'MyriadProRegular', arial,sans-serif;
        font-size: 120%;
        color: #ffffff;
        background-color: #000000;
    }

    /*************************** DIV CSS *********************************/
    img{
        max-width: 80%; /* you can use % */
        height: auto;
    }
    li{
        font-size: 120%;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #page {
        position: fixed;
        top: 0px;
        bottom: 0px;
        width: 320px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
        #side {
            position: absolute;
            top: 10px;
            bottom: 0px;
            left: 0px;
            width: 100px;
            height: 100%;
            text-align: left;
            margin-right: 5px; 
        }
            #myphoto {
                margin-bottom: 5px;
            }
            #title {
                font-size: 100%;
                margin-bottom: 5px;
            }
            #info {
                font-size: 60%;
                margin-bottom: 5px;
            }
            #menu {
                font-size: 100%;
                margin-bottom: 5px;
            }
            #footnote{
                position: fixed;
                bottom:50px;
                font-size: 90%;
            }
        #content_wrap{
            position: absolute;
    /*        overflow: hidden;*/
            top: 10px;
            left: 105px;
            width: 215px;
            height: 100%;
            text-align: left;
        }
        #content{
            height: 99%;
            width: 100%;
    /*        overflow: auto;*/
        }
            #announcement{
                top: 0px;
                width: 100%;
                z-index: 99;
                border-top: thick solid #ffaaaa;
                border-bottom: thick solid #ffaaaa;
                margin-bottom: 10px;
                font-size: 80%;
            }
            #me {
                width: 100%;
                margin-bottom: 10px;
                font-size: 80%;
                font-family: 'MyriadProRegular', arial,sans-serif;
            }
            #mywork{

            }
                #section{
                    font-size: 80%;
                    padding-bottom: 5px;
                    border-top: 2px solid black;
                    border-bottom: 2px solid black;
                    margin-bottom: 10px;
                    -webkit-transition: background-color 0.5s ease;
                    -moz-transition: background-color 0.5s ease;
                }
                #section:hover{
                    background-color: rgba(255,255,0,0.2);
                }



    /*************************** PUBLICATION CSS *********************************/
            #publication {
                font-size: 80%;
            }

    /*************************** TEACHING CSS *********************************/
            #statement {
                font-size: 80%;
            }
}


/*************************** NANOSCROLLBAR CSS *********************************/
/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano > .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  border-radius         : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}